body {
    background-color: #2F3A40;
    color: white;
}
div[id="#wrapper"]{
    width: 78%;
    margin: 70px auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
    letter-spacing: 0.3px;

}
h1 {
    border-bottom: 1px solid #ADC641;
    padding-bottom: 15px;
    font-size: 3rem !important;
    font-style: italic;
    color: #ADC641;
}
#about > h3, h2 {
    display: none;
}
img {
    position: absolute;
    width: 200px;
    transform: rotate(-13deg);
    top: 75px;
    right: 175px;
    box-shadow: 6px 6px 12px 5px rgba(73, 73, 73, 0.53);
    -webkit-box-shadow: 6px 6px 12px 5px rgba(90, 90, 90, 0.53);
    -moz-box-shadow: 6px 6px 12px 5px rgba(63, 63, 63, 0.53);
}
#about > p, h3 {
    font-style: italic;
}
#about > p {
    width: 650px;
    color: #c68c41;
    margin-bottom: 90px;
}
#competencies,
#experiences,
#education,
#hobbies {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: 10px;
}
#hobbies {
    margin-bottom: 0;
    color: #b6b77e;
}
#hobbies > ul {
    width: 150px;
}
#competencies > h3 {
    height: 120px;
}

#hobbies > h3 {
    height: 90px;
}
section {
    margin-bottom: 10px;
}
h3 {
    font-size: 22px;
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 3px solid;
    min-width: 130px;
    color: #ffad43;
}
p {
    color: #b6b77e;
}

div.experience:first-of-type {
    grid-column: 2 / 11;
    grid-row: 1;

}

.experience:last-child {
    grid-column: 2 / 11;
    grid-row: 2;
}
.skills-primary,
.skills-secondary {
    display: flex;
    grid-column: 2/11;
}
.skills-primary {
    align-items: flex-end;
}
.skill {
    width: 160px;
    height: fit-content;
    background-color: #9dbb19;
    margin: 0 5px;
}
.skills-primary .skill {
    font-size: 20PX;
    padding: 10px;
}

.skills-secondary .skill {
    font-size: 14px;
    padding: 10px;
}
.skill[data-skill='5']::after {
    content: '★★★';
    float: right;
}
.skill[data-skill='3']::after {
    content: '★★';
    float: right;
}
.skill[data-skill='1']::after {
    content: '★';
    float: right;
}
.skill[data-skill='9']::after {
    content: '★★★★★';
    float: right;
}
.skill[data-skill='7']::after {
    content: '★★★★';
    float: right;
}
.experience-institution {
    display: none;
}
.experience-type, .experience-date-separator {
    color: #7ea5b7;
    font-weight: 700;
}
.experience {
    position: relative;
}
.experience-details {
    position: absolute;
    top: 25px;
    right: 0;
    color: rgb(173, 173, 173);
}
#contact h3, .contacts dt, .contacts dd, .contact-skype {
    display: none;
}
#contact {
    position: relative;
}
.contacts {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 140px;
    bottom: -80px;
}

.contact {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 20px;
}
.contact-email{
    background-image: url(../images/email.png);
}
.contact-phone{
    background-image: url(../images/phone.png);
}
.contact-github{
    background-image: url(../images/github.png);
}
.contact-facebook{
    background-image: url(../images/facebook.png);
}


@media only screen and (max-width: 468px) {
    div[id="#wrapper"]{
        width: 90%;
        font-size: 16px;
        position: relative;
    }
    h1 {
        font-size: 1rem;
    }
    img {
        display: none;
    }
    #about > p {
        padding-bottom: 30px;
    }
    #about > p, .content {
        width: 98%;
        margin: 0 auto;
    }

    #experiences,
    #education,
    #competencies,
    #hobbies {
        display: initial;
    }

    h3 {
        border: none;
        border-bottom: 1px solid;
        margin-top: 60px;
        width: max-content;
    }
    #competencies > h3 {
        height: auto;
    }
    
    #hobbies > h3 {
        height: auto;
    }
    
    .experience-details {
        position: static;
        text-align: end;
    }
    h4 {
        position: absolute;
        left: 0;
        top: -20px;
    }

    .contacts {
        position: static;
        justify-content: left;
        flex-wrap: wrap;
        width: 110%;
    }
    .skills-primary .skill {
        margin-bottom: 10px;
        font-size: 14px;

    }

    .skills-secondary .skill {
        font-size: 10px;
    }
}