body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 50%, rgb(199, 199, 199) 100%);
}

header {
    background: rgb(0,40,46);
    background: linear-gradient(90deg, rgba(0,40,46,1) 0%, rgba(26,141,209,1) 60%, rgb(111, 165, 182) 100%);
    margin-bottom: 65px;
    text-shadow: 5px 4px 4px rgba(0,0,0,0.7);
    font-style: italic;
}
hgroup {
    color: white;
    font-size: 18px;
}

header > div{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 12%;

}
img {
    box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
    -webkit-box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
    border-radius: 5px;
}

#contact {
    position: absolute;
    background: rgb(181,181,181);
    background: linear-gradient(90deg, rgba(181,181,181,1) 0%, rgba(102,102,102,1) 100%, rgba(48,48,48,1) 100%);
    width: 50%;
    top: 10px;
    right: 0;
    font-weight: 800;
    line-height: 25px;
    box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
    -webkit-box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 6px 12px 5px rgba(0,0,0,0.53);
}

#contact > h3 {
    display: none;
}
dl {
    margin: 0;
}

dt, dd {
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 0;
}
dd > a {
    color: rgb(7 48 97);
    text-decoration: none;
}
dt {
    background: rgb(4,44,93);
    background: linear-gradient(90deg, rgba(4,44,93,1) 0%, rgba(84,140,187,1) 48%, rgba(153,153,153,1) 100%);
    width: 130px;
    border-right: 1px solid black;
    color:  #ffffff;
    font-weight: 600;
}

.content {
    display: grid;
    grid-template-areas: 
    "about competencies" 
    "experiences education" 
    "hobbies ." ;
    width: 80%;
    margin: 0 auto;
}
#about {
    grid-area: about;
}
#competencies {
    grid-area: competencies;
}
#experiences {
    grid-area: experiences;
}
#education {
    grid-area: education;
}
#hobbies {
    grid-area: hobbies;
}
h3::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(0,40,46);
    background: linear-gradient(90deg, rgb(17, 133, 151) 0%, rgb(12, 70, 104) 60%, rgb(19, 100, 138) 100%);
 }
h3 {
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 10px;
    text-shadow: 5px 4px 4px rgba(80, 80, 80, 0.7);
 }
p {
    padding-right: 20px;
}
.skills-primary {
    margin-bottom: 20px;
}
.skills-primary::before {
    content: "Main";
}
.skills-secondary::before {
    content: "Other";
}
.skills-secondary > .skill {
    opacity: 0.7;
}
.skill {
    background-color: rgb(180, 179, 179);
    width: 100%;
    margin: 3px;
    padding: 5px;
}
.skill > span {
    background: rgb(0,40,46);
    background: linear-gradient(90deg, rgba(0,40,46,1) 0%, rgba(26,141,209,1) 60%, rgb(111, 165, 182) 100%);
    display: inherit;
    padding: 5px;
    color: white;
}
div[data-skill="5"] > span {
    width: calc(50% - 2%);
}
div[data-skill="3"] > span {
    width: calc(30% - 2%);
}
div[data-skill="1"] > span {
    width: calc(10% - 2%);
}
div[data-skill="9"] > span {
    width: calc(90% - 2%);
}
div[data-skill="7"] > span {
    width: calc(70% - 2%);
}
.experience-date-separator {
    color: #4da6ff;
}
.experience-details {
    color: rgb(148, 148, 148);
    text-indent: 10px;
}
.experience-details::before {
    content: "In";
}
.experience-location::after {
    content: "on";
}
.experience-type {
    color: #2969a8;
}
.experience-institution {
    color: #3370ac;
    font-weight: 300;
}
.experience-institution::before {
    content: "@ ";
}
h4 {
    margin-bottom: 5px;
}




@media only screen and (max-width: 468px) {
    header {
        margin-bottom: 55px;
    }
    hgroup {
        padding-left: 30px;
    }
    #contact {
        position: inherit;
        width: 100%;
        background-color: white;
        box-shadow: none;
    }
    header > div{
        display: initial;
    }
    .content {
        display: inherit;
        width: 90%;
        margin: 0 auto;
    }
    #contact > h3 {
        display: block;
        background-color: white;

    }
    #contact > h3 {
        margin-bottom: 0;
    }
    h3 {
        padding-top: 15px;
    }
    p {
        padding-right: 0;
    }
  }
  